ac-selected-day {
	display: block;
	box-sizing: border-box;
	margin: $grid*4 0;
	padding: $container-padding;
	color: $white-gray;
	background: $dark-element-background;

	h2.selected-activity-day {
		text-align: center;
		margin-bottom: $grid*4;
	}
}

.selected-activity {
	color: mat-color($ac-accent);
}

ac-selected-date-activities {
	display: block;
	padding: $grid*3 0;
}

.ac-selected-date-activity {
	display: grid;
	grid-template-columns: 30px 1fr 1fr 80px;
	padding: $grid*1.5 $grid / 2;
	justify-content: center;
	border-bottom: {
		style: solid;
		width: 1px;
		color: $gray;
	};

	mat-icon {
		max-width: 80px;
		margin-top: -4px;
		cursor: pointer;

		&:hover {
			color: $primary-hover;
		}
	}

	&:nth-last-child(1) {
		border-bottom: none;
	}

	&:not(&.header) {
		cursor: pointer;

		&:hover {
			color: $primary-hover;
		}
	}
}

ac-selected-activity-form {

	h2.selected-activity-form-title {
		margin-top: $grid*5;
		margin-bottom: 0;
	}

	form {
		display: flex;
		flex-direction: column;

		mat-form-field {
			margin: $grid*2 0;
		}

		button.mat-raised-button {
			width: 200px;
			margin: $grid*2 0;
			align-self: flex-end;
		}
	}

}

ac-selected-day-template {
	display: block;
	padding: $grid*3 0;
}
