.ac-selected-day {
	display: block;
	box-sizing: border-box;
	margin: $grid*4 0 $grid*10 0;
	padding: $container-padding;
	color: $white-gray;
	background: $dark-element-background;

	mat-tab-group {

		&.tab-group-disabled {
			pointer-events: none;
		}

		.mat-tab-label {
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $primary;
				opacity: 1;
			}
		}
	}
}

h2.selected-activity-day {
	text-align: center;
	margin-bottom: $grid*4;
}

.selected-activity {
	color: mat-color($ac-accent);
}

.ac-activities-list {
	display: block;
	padding: $grid*3 0;
}

.ac-selected-date-activity {
	display: grid;
	grid-template-columns: 30px 1fr 1fr 80px;
	padding: $grid*1.5 $grid / 2;
	justify-content: center;
	border-bottom: {
		style: solid;
		width: 1px;
		color: $gray;
	};

	mat-icon {
		max-width: 80px;
		margin-top: -4px;
	}

	&:nth-last-child(1) {
		border-bottom: none;
	}

	&:not(&.header) {
		cursor: pointer;
		transition: color 0.3s ease-in-out;

		&:hover {
			color: $primary-hover;
		}
	}

	&.activity-disabled {
		pointer-events: none;
	}
}

.ac-activity-dialog {

	h2.selected-activity-form-title {
		margin-bottom: 0;
		text-align: center;
	}
}

.ac-dialog-defined-activity {
	display: block;
	width: 100%;
	margin-top: $grid*3;

	mat-form-field {
		width: 100%;
	}
}

.ac-activities-template {
	display: block;
	padding: $grid*3 0;
}

.ac-activity-template {

	.ac-selected-date-activity {

		mat-checkbox {
			pointer-events: none;

			.mat-checkbox-frame {
				transition: border-color 0.3s ease-in-out;
			}
		}

		&:hover {

			mat-checkbox {
				.mat-checkbox-frame {
					border-color: $primary;
				}
			}
		}
	}
}

.selected-day-active-template-select {
	display: block;
	width: 100%;

	mat-form-field {
		width: 100%;
	}
}
