ac-templates {
	padding: $container-padding;
	color: $white-gray;

	mat-expansion-panel.mat-expansion-panel {
		background: $dark-element-background;

		mat-panel-title.mat-expansion-panel-header-title {
			color: $white-gray;
			max-width: 100px;
		}

		.mat-expansion-panel-header-description {
			display: none;
		}

		.has-template-activities {

			.mat-expansion-panel-header-description {
				display: flex;
				color: $primary;
				font-weight: bold;
			}
		}
	}

	ac-template-activity-form {
		display: block;
		margin: $grid 0;

		form {
			display: grid;
			grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) 24px 24px;
			grid-column-gap: $grid*1.5;
			align-items: center;
			color: $gray;
		}
	}

	.ac-weekday-template-add-button-wrapper {
		display: flex;
		justify-content: flex-end;

		button.mat-icon-button {
			color: $gray;

			mat-icon {
				font-size: 32px;
			}
		}
	}
}
