ac-templates {
	padding: $container-padding;
	color: $white-gray;

	mat-expansion-panel.mat-expansion-panel {
		background: $dark-element-background;

		mat-panel-title.mat-expansion-panel-header-title {
			color: $white-gray;
		}
	}

	ac-template-activity-form {
		display: block;

		form {
			display: grid;
			grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) 24px 24px;
			grid-column-gap: $grid*1.5;
			align-items: center;
		}
	}
}
