<div class="gui-date-picker-container">

	<ac-calendar-interface [fabricCalendarView]="activityCalendarView"
						   [selectedDate]="selectedDate"
						   [activeMonth]="activeMonth"
						   [activeYear]="activeYear"
						   [years]="years">
	</ac-calendar-interface>

	<ng-container [ngSwitch]="getCalendarView()">

		<ng-container *ngSwitchCase="ActivityCalendarView.DAYS">

			<ac-days-container [selectedDate]="selectedDate"
							   [activeMonth]="activeMonth"
							   [monthActivities]="monthActivities"
							   [weeks]="weeks"
							   [prevWeeks]="prevWeeks"
							   [nextWeeks]="nextWeeks">
			</ac-days-container>

		</ng-container>

		<ng-container *ngSwitchCase="ActivityCalendarView.MONTHS">

			<ac-calendar-months [selectedDate]="selectedDate"
								[activeYear]="activeYear">
			</ac-calendar-months>

		</ng-container>

		<ng-container *ngSwitchCase="ActivityCalendarView.YEARS">

			<ac-calendar-years [selectedDate]="selectedDate"
							   [years]="years">
			</ac-calendar-years>

		</ng-container>

	</ng-container>

</div>
