<div class="gui-date-picker-container">

	<ac-calendar-view-panel [fabricCalendarView]="activityCalendarView"
							[selectedDate]="selectedDate"
							[activeMonth]="activeMonth"
							[activeYear]="activeYear"
							[years]="years">
	</ac-calendar-view-panel>

	<ng-container [ngSwitch]="getCalendarView()">

		<ac-days-view *ngSwitchCase="ActivityCalendarView.DAYS"
					  [selectedDate]="selectedDate"
					  [activeMonth]="activeMonth"
					  [activeYear]="activeYear"
					  [monthActivities]="monthActivities"
					  [weeks]="weeks"
					  [prevWeeks]="prevWeeks"
					  [nextWeeks]="nextWeeks">
		</ac-days-view>

		<ac-calendar-months-view *ngSwitchCase="ActivityCalendarView.MONTHS"
								 [selectedDate]="selectedDate"
								 [activeYear]="activeYear"
								 [activeMonth]="activeMonth"
								 [activitiesCount]="activitiesCount">
		</ac-calendar-months-view>

		<ac-calendar-years-view *ngSwitchCase="ActivityCalendarView.YEARS"
								[selectedDate]="selectedDate"
								[activeYear]="activeYear"
								[activeMonth]="activeMonth"
								[activitiesCount]="activitiesCount"
								[years]="years">
		</ac-calendar-years-view>

	</ng-container>

</div>
