body {
	margin: 0 16px;
	background: #121212;
	padding: 0
}

.container {
	margin: $grid*3 auto;
	max-width: $container-max-width;

	button.mat-icon-button {
		transition: color 0.3s ease-in-out;
		box-shadow: none;

		&:hover {
			color: $primary;
		}
	}
}

h1 {
	color: $white;
}

.activity-calendar-dialog {

	mat-dialog-container {
		color: $gray;
		width: calc(#{$container-max-width} - 30px);
		padding: $container-padding;
		background: $dark-elevated-background;

		@media (max-width: 576px) {
			width: calc(100vw - 30px);
		}
	}
}

.mat-menu-panel {
	background: $dark-elevated-background;
}

.ac-snackbar {
	background: $dark-elevated-background;
	color: $primary;

	.mat-simple-snackbar {
		justify-content: center;
	}
}

.ac-snackbar-warn {
	background: mat-color($ac-warn);
	color: $white;
	text-align: center;

	.mat-simple-snackbar {
		justify-content: center;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
