body {
	margin: 0 16px;
	background: #121212;
	padding: 0
}

.container {
	margin: $grid*3 auto;
	max-width: $container-max-width;

	button.mat-icon-button {
		transition: color 0.3s ease-in-out;
		box-shadow: none;

		&:hover {
			color: $primary;
		}
	}
}

h1 {
	color: $white;
}

.activity-calendar-dialog {

	mat-dialog-container {
		color: $gray;
		width: calc(#{$container-max-width} - 30px);
		padding: $container-padding;
		background: $dark-elevated-background;

		@media (max-width: 576px) {
			width: calc(100vw - 30px);
		}
	}
}

.activity-calendar-dialog-loading-screen {

	mat-dialog-container {
		color: $gray;
		padding: $container-padding;
		background: $dark-elevated-background;
	}

	mat-spinner {
		text-align: center;
		margin: $grid*4 auto $grid*2 auto;
	}
}

.mat-menu-panel {
	background: $dark-elevated-background;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

mat-icon {
	cursor: pointer;
	user-select: none;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: $primary-hover;
	}
}
