body {
	margin: 0 16px;
	background: #121212;
	padding: 0
}

.container {
	margin: $grid*3 auto;
	max-width: 576px;
}

h1 {
	color: $white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
