/**
 * Colors
 */
$white: #ffffff;
$white-gray: #BDBDBD;
$black: #333;
$black-tans: rgba(0, 0, 0, 0.8);
$black-light: lighten($black, 15);

$dark-element-background: #1a1a1a;
$dark-elevated-background: #2c2c2c;

$icon-color: #aaa;
$icon-color-hover: #464646;

//Gray
$gray: #999;
$gray-light: lighten($gray, 20);
$gray-lightest: lighten($gray, 30);
$gainsboro: #DCDCDC;

// Primary
$purple: #CE93D8;
$purple-darker: darken($purple, 15);
$purple-lightest: lighten($purple, 10);
$primary: $purple;
$primary-hover: $primary;

/**
 * Styles
 */
$grid: 8px;
