<h2 class="selected-activity-form-title">{{getFormTypeText()}} activity</h2>

<form [formGroup]="form">

	<mat-form-field class="example-form-field">

		<mat-label>Activity</mat-label>
		<input matInput type="text" formControlName="name">

		<button *ngIf="hasValue('name')"
				type="button"
				(click)="clearFormItem('name')"
				mat-button matSuffix mat-icon-button aria-label="Clear">
			<mat-icon>close</mat-icon>
		</button>

	</mat-form-field>

	<mat-form-field class="example-form-field">

		<mat-label>Amount</mat-label>

		<input matInput type="text" formControlName="amount">

		<button *ngIf="hasValue('amount')"
				type="button"
				(click)="clearFormItem('amount')"
				mat-button matSuffix mat-icon-button aria-label="Clear">
			<mat-icon>close</mat-icon>
		</button>

	</mat-form-field>

	<div class="ac-selected-activity-form-buttons">
		<button mat-button
				[type]="'button'"
				(click)="closeDialog()">
			Cancel
		</button>

		<ac-button [loading]="loading"
				   [type]="'submit'"
				   (click)="manageActivity()">
			{{getFormTypeText()}}
		</ac-button>
	</div>

</form>
