<h2 class="selected-activity-form-title">Placeholder</h2>

<form [formGroup]="activityConfigForm">

	<mat-form-field>

		<mat-label>Activity name</mat-label>
		<input matInput type="text" formControlName="name">

		<button *ngIf="hasValue('name')"
				type="button"
				(click)="clearFormItem('name')"
				mat-button matSuffix mat-icon-button aria-label="Clear">
			<mat-icon>close</mat-icon>
		</button>

	</mat-form-field>

	<div *ngIf="getFormEntries()"
		 formArrayName="entries">

		<div *ngFor="let item of getFormEntries().controls; let i = index"
			 [formGroupName]="i">

			<mat-form-field>

				<mat-label>Activity entry unit</mat-label>

				<mat-select [formControlName]="'entryUnit'">
					<mat-option *ngFor="let unit of units"
								[value]="unit">
						{{unit}}
					</mat-option>
				</mat-select>

				<button *ngIf="hasValue(i.toString())"
						type="button"
						(click)="clearFormItem(i.toString())"
						mat-button matSuffix mat-icon-button aria-label="Clear">
					<mat-icon>close</mat-icon>
				</button>

			</mat-form-field>

		</div>

	</div>

	<button mat-button
			[type]="'button'"
			(click)="addEntry()">
		Add new entry unit
	</button>

	<div class="ac-form-buttons">
		<button mat-button
				[type]="'button'"
				(click)="closeDialog()">
			Cancel
		</button>

		<ac-button [loading]="loading"
				   [type]="'submit'"
				   (click)="saveForm()">
			{{getButtonText()}}
		</ac-button>
	</div>

</form>
