<mat-tab-group mat-stretch-tabs dynamicHeight
			   (selectedIndexChange)="setActiveTab($event)">

	<mat-tab [label]="getFormTypeText() + ' activity'">

		<ac-dialog-custom-activity [calendarActivity]="getCalendarActivity()"
								   [units]="units"
								   (onCalendarActivity)="setActivity($event)">
		</ac-dialog-custom-activity>

	</mat-tab>

	<mat-tab *ngIf="isDefinedActivityHidden()"
			 [label]="'Defined activity'">

		<ac-dialog-defined-activity (onCalendarActivity)="setActivity($event)"></ac-dialog-defined-activity>

	</mat-tab>

</mat-tab-group>

<div class="ac-form-buttons">
	<button mat-button
			[type]="'button'"
			(click)="closeDialog()">
		Cancel
	</button>

	<ac-button [loading]="loading"
			   [type]="'submit'"
			   (click)="manageActivity()">
		{{getFormTypeText()}}
	</ac-button>
</div>
